@model IEnumerable<Sewit.Models.TopComponentVM>

@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <p>
        <a class="btn btn-success" asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhotoPath)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <div class="card" style="height: 211px; width: 150px">
                            <img src=@item.PhotoPath class="card-img-top img-preview" />
                        </div>
                    </td>
                    <td>
                           <a class="btn btn-danger" asp-controller="Top" asp-action="Delete" asp-route-id=@item.TopId><i class="fa fa-trash"></i> Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>