<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Thank you for your purchase!</h1>
        <p class="lead">Do not forget to promote your designs and your fashion.</p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn-lg" asp-controller="Sew" asp-action="Index">Continue</a>
        </p>
    </div>

</div>