@model IEnumerable<Sewit.Models.DressVM>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <p>
        <a class="btn btn-success" asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.PhotoPath)
                </th>
                <th>
                    Components
                </th>
                <th>
                    Price
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>


                <td>
                    <div class="card" style="height: 270px; width: 200px;">
                        <img src=~/@item.PhotoPath class="card-img-top img-preview" style="height: 270px; width: 200px; object-fit: fill " />
                    </div>
                </td>
                <td>
                    <ul>
                        <li>
                            Top: @item.Top.Name
                        </li>
                        <li>
                            Skirt: @item.Skirt.Name
                        </li>
                        <li>
                            Sleeve: @item.Sleeve.Name
                        </li>
                    </ul>
                </td>
                <td>
                    €@item.Price
                </td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-info" asp-controller="Dress" asp-action="Details" asp-route-id=@item.DressId><i class="fa fa-info"></i> Details</a>
                        <a class="btn btn-danger" asp-controller="Dress" asp-action="Delete" asp-route-id=@item.DressId><i class="fa fa-trash"></i> Delete</a>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>