@model List<ComponentVM>
@{
    string width = ViewBag.Progress.ToString() + "%";
    int valueNow = ViewBag.Progress;
}

<div class="container">
    <div class="row">
        <div class="progress">
            <div>
                <div class="progress-bar" role="progressbar" style="width: @width" aria-valuenow="@valueNow" aria-valuemin="0" aria-valuemax="100">@ViewBag.ProgressLabel</div>
            </div>
        </div>
    </div>
    <div>
        @foreach (var comp in Model)
        {
            <div class="col-3">
                <div class="card card-bg flex-fill shadow">
                    <a asp-controller="Sew" asp-action=@ViewBag.Next asp-route-id=@comp.Id>
                        <img class="card-img-top" src=@comp.PhotoPath />
                    </a>
                </div>
                <div class="card-body">
                    <h5>@comp.Name</h5>
                </div>
            </div>
        }
    </div>
</div>