
<div class="h-100">
    <div class="jumbotron main-jumbotron shadow p-0 mt-3" style="height:450px;" >
        <div class="h-100 py-5" style="background-image:url('/photos/background.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover;">
            <div class="text-center">
                <h1 class="display-3 font-weight-normal">
                    Create stunning dresses in seconds
                </h1>
                <a class="btn btn-info btn-lg mt-5" asp-controller="Sew" asp-action="Top">Get Started</a>

            </div>
        </div>
    </div>
    <div class="container">
        <h2>Our work</h2>   
        <div class="row">

            <!-- Work 1-->
            <div class="col-3">
                <div class="card card-bg flex-fill shadow">
                    Photo

                </div>
                <div class="card-body">
                    Details

                </div>
            </div>

            <!-- Work 2-->
            <div class="col-3">
                <div class="card card-bg flex-fill shadow">
                    Photo

                </div>
                <div class="card-body">
                    Details

                </div>
            </div>


            <!-- Work 3-->
            <div class="col-3">
                <div class="card card-bg flex-fill shadow">
                    Photo

                </div>
                <div class="card-body">
                    Details

                </div>
            </div>
        </div>
    </div>
</div>
