@model List<SkirtComponentVM>


<div class="container">
    <div class="row">
        <div class="progress">
            <div>
                <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">Skirt</div>
            </div>
        </div>
    </div>
    <h2>
        Choose skirt component
    </h2>
    <div>
        @foreach (var comp in Model)
        {
            <div class="col-3">
                <div class="card card-bg flex-fill shadow">
                    <a asp-controller="Sew" asp-action="Sleeve" asp-route-id=@comp.SkirtId>
                        <img class="card-img-top" src=@comp.PhotoPath />
                    </a>
                </div>
                <div class="card-body">
                    <h5>@comp.Name</h5>
                </div>
            </div>
        }
    </div>
</div>