@model List<TopComponentVM>


<div class="container">
    <div class="container-fluid">
        <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Top</div>
        </div>
    </div>
    <br />
    <h2>
        Choose top component
    </h2>
    <hr />
    <div class="row">
        
            @foreach (var comp in Model)
            {
                <div class="col-3">
                    <div class="card card-bg flex-fill shadow">
                        <a asp-controller="Sew" asp-action="Skirt" asp-route-id=@comp.TopId>
                            <img class="card-img-top img-choice" src=~/@comp.PhotoPath />
                        </a>
                        <div class="card-body">
                            <h5>@comp.Name</h5>
                        </div>
                    </div>
                    
                </div>
            }
        
    </div>
</div>